#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* user-inputs how use input as rounded circles remember snes buttons */

.user-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 1.5em sans-serif;
  /* snes colors */
  /* color: #003db2; */
  /* text-shadow: 0 0 0.5em #003db2; */
  background: #333333;
  border-radius: 15px;
}

.card {
  padding: 2em;
}
